
/*custom heading classes*/
.heading {
    &.jaune {
        .heading-inner {
            background: url(assets/ignasi_pattern_s.png);
        }
    }
}

/*custom body classes*/
/*body[data-bg="nicolasP_CoffeeB"] {}*/

body#gstory[data-bg="en-haut-de-la-colline"] {
    .story .content .content-inner {
        color: black;
        text-shadow: unset;
    }
    .story-inner {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .choice-panel {
        border-top: 3px solid #666;
    }
}
