:root {
    --story-inner-height: 25%;
    --story-panel-offset: 0px;
}

#gstory {

    font-family: "Roboto Slab", serif;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    background-color: black;
    -webkit-touch-callout: none;

    .solid {
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }

    .graphics {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        transition: opacity 0.75s;

        & iframe {
            border: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        .game {
            opacity: 0;
            z-index: 0;
        }
    }

    .story {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    .navbar {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100% - 16px);
        padding: 8px;
        z-index: 10;
        font-size: x-large;
        pointer-events: auto;

        .navbar-inner {
            width: 100%;
            bottom: 0;
            display: flex;
        }

        .navbar-inner div.title {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .navbar-inner div.title .title-inner {
            position: absolute;
            top: 0;
            left: 0;
            cursor: default;
            padding: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "Montserrat", sans-serif; /*FIXME*/
            font-weight: bolder;
            font-size: larger;
            letter-spacing: 0.1em;
            text-shadow: rgba(255, 255, 255, 0.25) -1px 1px 1px, rgba(255, 255, 255, 0.25) 1px -1px 1px, rgba(255, 255, 255, 0.25) -1px -1px 1px, rgba(255, 255, 255, 0.25) 1px 1px 1px;
            transition: top 0.5s;
        }

        .navbar-inner div.title .title-inner.out {
            top: -100%;
        }

        .navbar-inner div.goto-menu {
            padding: 8px;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.5);
            margin-right: 8px;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }
    }

    .story .content .content-inner {
        color: #ccc;
        text-shadow: rgba(0, 0, 0, 0.5) -1px 1px 1px, rgba(0, 0, 0, 0.5) 1px -1px 1px, rgba(0, 0, 0, 0.5) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
    }

    .story-inner {
        position: absolute;
        overflow: hidden;
        pointer-events: auto;
    }

    .next {
        position: absolute;
        overflow: hidden;
        pointer-events: auto;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: default;
        overflow: scroll;
        -ms-overflow-style: none;
        transition: opacity 0.25s;

        &::-webkit-scrollbar {
            display: none;
        }

        .content-inner {
            padding: 16px 0;
            margin-bottom: var(--story-panel-offset);
            line-height: 1.4em;
        }

        .content-inner p {
            padding-bottom: 12px;
        }

        &.overlay {
            opacity: 0.5;
            transition: opacity 0.25s;
        }
    }

    .section {
        font-size: large;
        padding: 8px 0;

        &.text {
            padding: 8px 24px;

            & p {
                padding-bottom: 12px;
            }
        }

        &.dialog {
            position: relative;
            padding: 8px 24px;

            .head-placeholder,
            .head {
                position: absolute;
                width: 75px;
                height: 75px;
                top: 0;
                left: 40px;
                background: #c4c4c4;
                border-radius: 40px;
            }

            .head {
                background: white;
                transform: scale(0);
                transition: all 0.15s;
            }

            .head.show {
                transform: scale(1);
            }

            .text {
                margin-left: 105px;
            }

            .text p {
                margin: 0 10%;
            }

            & h1 {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 8px;
            }

            & h2 {
                text-align: center;
            }

            & p {
                margin: 0 17%;
                padding-bottom: 12px;
            }
        }

        &.result {
            padding: 8px 24px;

            & p {
                padding-bottom: 12px;
                font-style: italic;
            }
        }

        &.image {
            position: relative;
            padding: 8px 0;
            height: 150px;
            width: 100%;
            background-color: #bbb;

            & div {
                width: 100%;
                height: 0;
                transition: height 0.25s;
                background: no-repeat center center;
                background-size: cover;
            }
        }
    }

    .choice-panel {
        position: absolute;
        width: 100%;
        top: calc(100% - var(--story-panel-offset));
        border-top: 3px solid #333;
        background: rgba(255, 255, 255, 0.35);
        transition: top 0.25s;

        &.disabled {
            opacity: 0.5;
        }

        &.disabled ul li {
            cursor: default;
        }

        & ul {
            padding: 32px;
            font-size: large;
            list-style: none;

            & li {
                padding-bottom: 22px;
                cursor: pointer;

                &.hidden {
                    opacity: 0.5;
                    transform: scale(0.5);
                }

                &.selected {
                    animation: blink 0.1s ease 4;
                }

                &:nth-child(1) {
                    transition: opacity 0.5s, transform 0.5s;
                }

                &:nth-child(2) {
                    transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
                }

                &:nth-child(3) {
                    transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
                }

                &:nth-child(4) {
                    transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
                }

                &:nth-child(5) {
                    transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
                }

                &:last-child {
                    padding-bottom: 10px;
                }
            }

            .kind {
                font-size: larger;
                width: 32px;
                height: 32px;
                float: left;
                border-radius: 50%;
                border: 2px solid black;
                background-color: #ffffff;
                text-align: center;
                transform: translateY(-6px);

                & i {
                    width: 32px;
                    height: 32px;
                }

                &>div {
                    width: 32px;
                    padding-top: 5px;
                }
            }

            .choice {
                margin-left: 56px;
            }

            .subtext {
                font-size: smaller;
            }
        }

        &:before {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            top: 0;
            background-color: #ffffff;
            border-bottom: 3px solid #333;
        }
    }

    .modal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-size: x-large;

        .modal-inner {
            width: 150px;
            border: 2px #666 solid;
            padding: 24px;
            background-color: #ccc;
            border-radius: 16px;
            opacity: 0;
            transform: scale(0);
        }

        .modal-inner p {
            text-align: center;
            line-height: 1.25;
        }

        &.show {
            left: 0;

            .modal-inner {
                opacity: 1;
                transform: scale(1);
                transition: all 0.15s;
                cursor: pointer;
            }
        }

        &.disable .modal-inner {
            background-color: transparent;
            width: 50px;
            height: 50px;
            cursor: default;
        }

        .minimizer {
            position: absolute;
            top: -12px;
            right: -14px;
            font-size: x-large;
            padding: 12px;
            border: 2px solid #666;
            border-radius: 40px;
            background-color: white;
            width: 24px;
            height: 24px;

            &>i {
                margin-left: 4px;
                margin-top: 2px;
            }
        }
    }

    .heading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 11;
        cursor: default;
        opacity: 0;
        transition: top 0.25s, opacity 0.25s;

        .heading-inner {
            height: 100%;

            & h1 {
                position: absolute;
                width: 80%;
                height: 48%;
                top: 0;
                padding: 0 10%;
                display: flex;
                align-items: flex-end;
                font-family: "Anton", sans-serif;
                font-size: xx-large;
                font-variant: small-caps;
                line-height: 1.25em;
            }

            & h2 {
                position: absolute;
                width: 80%;
                height: 50%;
                top: 50%;
                padding: 0 10%;
                text-align: center;
                font-family: "Farsan", cursive;
                font-size: large;
            }
        }

        &.show {
            top: 0;
            opacity: 1;
        }
    }

    .fader {
        opacity: 0;
        z-index: 0;
        background-color: black;
    }

    .story-window {
        z-index: 20;
        position: absolute;
        width: 30%;
        height: 100%;
        right: 0;
        box-sizing: border-box;
        border-left: 8px solid rgba(0, 0, 0, 0.25);
        transition: right 0.25s 0.25s, height 0.25s;

        & iframe {
            border: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

        &.hidden {
            right: -30%;
        }

        &closed {
            right: calc(32px - 30%);
            height: 40px;
        }
    }

    .next {
        bottom: 1%;
        left: 1%;
        width: 5%;
        height: 25%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.2);
        border: 8px solid rgba(0, 0, 0, 0.075);
        transition: left 0.15s;

        .next-inner {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 64px;
            color: rgba(0, 0, 0, 0.075);
        }

        &.hidden {
            left: -10%;
        }
    }

    .story-inner {
        bottom: 1%;
        left: 7%;
        width: 30%;
        min-width: 350px;
        max-width: 450px;
        height: calc(var(--story-inner-height) + var(--story-panel-offset));
        border-top: 4px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.2);
        transition: height 0.15s, border 0.15s, background 0.15s;

        .content {
            transition: top 0.2s 0.1s;
        }

        &.minimized {
            border-top: 4px solid rgba(255, 255, 255, 0);
            background-color: rgba(255, 255, 255, 0);

            .content {
                top: 100%;
            }

            .modal {
                height: initial;
                top: initial;
                bottom: 0;
                font-size: inherit;

                .modal-inner {
                    width: inherit;
                    padding: 8px 52px 8px 8px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: inherit;
                }

                .minimizer {
                    right: 2px;
                    transform: rotate(180deg) scale(0.75);
                    background-color: #ccc;
                }
            }
        }
    }


    &.desktop {
        .next {
            display: none;
        }

        .story-inner {
            left: 1%;
        }
    }

    &.disabled {
        .solid {
            opacity: 0.5;
            pointer-events: none;
        }

        .next {
            opacity: 0.5;
            pointer-events: none;
        }

        .story-inner {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &.show-game {
        .game {
            opacity: 1;
            z-index: 2;
        }

        .story-inner {
            height: 42px;
            opacity: 0;
        }

        .navbar-inner .title {
            opacity: 0;
        }

        .story-window {
            opacity: 0;
        }
    }

    &.change-bg {
        .fader {
            z-index: 3;
            opacity: 0.35;
        }

        .preloader {
            z-index: 30;
            opacity: 1;
            transition-delay: 1s;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}